@import 'https://fonts.googleapis.com/css?family=Sintony';
* {
	box-sizing: border-box;
}

body {
	background: #222;
	padding: 0;
	margin: 0;
	font-family: 'Sintony', sans-serif;
	font-weight: 300;
	font-size: 13px;
	text-transform: uppercase;
	color: #000;
}

header {
	position: fixed;
	top: 1rem;
	right: 1rem;
	padding: 0;
	margin: 0;
	z-index: 99;
}

section {
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100vh;
	letter-spacing: 4px;
	overflow: hidden;
	clip-path: inset(0 0 0 0);
	.fixed {
		overflow: hidden;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0; // top: 50%;
		// left: 50%;
		// transform: translate(-50%, -50%);
	}
	.white {
		color: #fff;
	}
}

.s-landing {
	background-image: url("https://picsum.photos/200/300");
}

@for $i from 1 through 10 {
	section:nth-child(#{$i}) {
		background-color: hsl(200deg * $i, 90%, 40%);
		top: (100vh * ($i - 1));
		z-index: ($i);
	}
}

.oop {
	position: relative;
	z-index: auto;
	height: 10px;
	background: linear-gradient(141deg, #48ded4 0%, #a026bf 51%, #e82c75 75%);
}
