* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Sintony', sans-serif;
	font-weight: 300;
	font-size: 13px;
	text-transform: uppercase;
	color: #000;
}

header {
	position: fixed;
	top: 1rem;
	right: 1rem;
	padding: 0;
	margin: 0;
	z-index: 9;
}

section {
	text-align: center;
	width: 100%;
	padding: 2rem;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

@for $i from 1 through 10 {
	section:nth-child(#{$i}) {
		background-color: hsl(100deg * $i, 90%, 90%); // top: (100vh * ($i - 1));
		// z-index: ($i);
	}
}
