.button {
	border: none;
	padding: 20px;
	margin: 10px;
	font-size: 14px;
	outline: 0;
	box-shadow: .1rem .1rem .1rem 0rem rgba(0, 0, 0, .5);
	border-radius: 4px;
	cursor: pointer;
	user-select: none;
}

.ripple {
	position: relative;
	overflow: hidden;
	display: inline-block;
	.ripple--fx {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		span {
			transform: scale(0);
			border-radius: 100%;
			position: absolute;
			opacity: 0.75;
			background-color: #fff;
			animation: ripple 1000ms;
		}
	}
}

@keyframes ripple {
	to {
		opacity: 0;
		transform: scale(2);
	}
}
