{{ define "main" }} 
{{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}

<article class="container">
    <ul class="list-unstyled">
        {{ range $paginator.Pages }}
        <a href="{{ .RelPermalink }}">
            <li class="media">
                <div class="post-image">
                    <img src="{{ .RelPermalink }}{{ .Params.image }}">
                </div>
                <div class="media-body">
                    <h5 class="post-title">{{ .Title }}</h5>
                    <div class="post-date">
                        {{ .Date.Format "2/01/2006" }}
                    </div>
                    {{ if gt (len .Summary) 200 }}
                        {{ slicestr .Summary 0 200 }}(...)
                    {{ else }}
                        {{ .Summary }}(...)
                    {{ end }}
                </div>
            </li>
        </a>
        {{ end }} 
        {{ partial "pagination" . }}
    </ul>
</article>

{{ end }}