{{ define "main" }} {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}

<article class="container">
    {{ range $paginator.Pages }}
    <div class="row">
        <div class="col-12 post-box text-center">
            <a href="{{ .RelPermalink }}">
                <div class="post-title">
                    {{ .Title }}
                </div>
                <div class="post-date">
                    {{ .Date.Format "2/1/2006" }}
                </div>
                <div class="post-image">
                    <img src="{{ .RelPermalink }}{{ .Params.image }}">
                </div>
            </a>
            <div class="post-excerpt">
                {{ .Summary }} (...)
            </div>
        </div>
    </div>
    {{ end }} {{ partial "pagination" . }}
</article>

{{ end }}