@charset "utf-8";
html {
    font-size: $base-font-size;
    line-height: $base-line-height;
}

body {
    background-color: $background-color;
    font-family: $base-font-family;
    color: $text-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

article {
    a {
        color: $a-color;
        text-decoration: none;
        &:hover {
            color: $a-color;
            text-decoration: none;
            border-bottom: .1rem dotted $a-color;
        }
    }
}

pre {
    color: white;
    background-color: black;
    border: none;
    border-radius: 0px;
    font-size: 1.05rem;
    padding: 1.2rem;
}

code {
    background-color: black;
    color: white;
    border: none;
    border-radius: 0px;
}

blockquote {
    border-left: 5px solid #eee;
    padding: 0 1rem;
}