@charset "utf-8";
body {
    background-color: #022335 !important;
    font-family: "Fira Mono" !important;
    color: #abc0ca !important;
}

a {
    color: #03a4fb;
    text-decoration: none;
}

a:hover {
    color: #03a4fb !important;
    text-decoration: none !important;
    border-bottom: 1px dotted #03a4fb;
}

pre {
    background-color: black !important;
    border: none !important;
    border-radius: 0px !important;
    font-size: 20px !important;
    padding: 1.5em !important;
    color: white !important;
}

code {
    background-color: black !important;
    color: white !important;
    border: none !important;
    border-radius: 0px !important;
}