@charset "utf-8";
body {
    background-color: $background-color;
    color: $text-color;
    font-size: $base-font-size;
    font-family: $base-font-family;
    line-height: $base-line-height;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: $a-color;
    text-decoration: none;
}

a:hover {
    color: $a-color;
    text-decoration: none;
    border-bottom: 1px dotted $a-color;
}

pre {
    color: white;
    background-color: black;
    border: none;
    border-radius: 0px;
    font-size: 1.25rem;
    padding: 1.5rem;
}

code {
    background-color: black;
    color: white;
    border: none;
    border-radius: 0px;
}