@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin text-align($where) {
    .text-#{$where}-left {
        text-align: left;
    }
    .text-#{$where}-right {
        text-align: right;
    }
    .text-#{$where}-center {
        text-align: center;
    }
    .text-#{$where}-justify {
        text-align: justify;
    }
}