footer {
    background: $brand-color;
    border: none;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
    margin-top: auto;
    bottom: 0px;
    padding: 0.5rem;
}

header {
    text-align: center;
    margin-top: 0px;
    background: $brand-color;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
    padding: 0px 0px 15px 0px;
}

.about-image {
    max-height: 250px;
}

.site-title {
    padding-bottom: 30px;
}

.btn-round {
    background-color: #ABC0CA;
    border-radius: 0px 0px 22.5px 22.5px;
}