footer {
    background: #093750;
    border: none;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
    margin-top: auto;
    bottom: 0px;
    padding: 0.5rem;
}

.footer-content {
}

.manual-title {
    font-size: 21px;
    padding: 1rem;
    text-transform: uppercase;
}

.manual-content {
    text-align: justify;
    font-size: 19px;
}

.man-title {
    font-size: 22px;
    text-align: center;
    padding: 1rem;
    letter-spacing: 2px;
}

.jumbotron {
    text-align: center;
    margin-top: 0px;
    background: #093750;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
    padding: 0px 0px 15px 0px;
}

.about-image {
    max-height: 250px;
}

.site-title {
    padding-bottom: 30px;
}

.btn-round {
    background-color: #ABC0CA;
    border-radius: 0px 0px 22.5px 22.5px;
}

.download {
    padding: 2rem;
    font-size: 19px;
}

.intro {
    font-size: 19px;
}