header {
    box-shadow: 0 .5rem 1rem 0 rgba(0, 0, 0, 0.15);
    padding: 0 0 1rem 0;
    background: $brand-color;
    text-align: center;
    margin-bottom: 2rem;
}

footer {
    box-shadow: 0 -.5rem 1rem 0 rgba(0, 0, 0, 0.15);
    padding: 0.5rem;
    background: $brand-color;
    border: none;
    margin-top: auto;
    bottom: 0;
}

.about-image > img {
    max-height: 25rem;
    border-radius: .5rem;
}

.btn-round {
    background-color: $text-color;
    border-radius: 0 0 2rem 2rem;
}