.post-box {
    padding-bottom: 1rem;
}

.media-body {
    color: $text-color;
}

.post-box img {
    height: auto;
    width: auto;
    max-height: 150px;
}

li.media {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.post-title {
    margin-bottom: 0;
    font-size: 1.5rem;
    color: $text-color;
}

.post-image {
    text-decoration: none;
    text-align: center;
    width: 12rem;
    img {
        max-height: 10rem;
        max-width: 10rem;
    }
}

.post-excerpt {
    padding-top: 0.5em;
    padding-bottom: 0.3em;
    text-align: justify;
}

.post-date {
    font-size: .8rem;
    margin-bottom: .5rem;
}

.post-title-main {
    margin: .2rem;
    text-align: center;
    color: #abc0ca !important;
}

.post-content img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.post-content p {
    margin: 0 0 20px;
}

.post-meta {
    color: skyblue !important;
}