.post-box {
    padding-bottom: 1rem;
}

.post-box img {
    height: auto;
    width: auto;
    max-height: 150px;
}

.post-title {
    font-size: 1.3rem;
    color: $text-color;
}

.post-image {
    text-decoration: none;
}

.post-excerpt {
    padding-top: 0.5em;
    padding-bottom: 0.3em;
    text-align: justify;
}

.post-date {
    text-align: center;
    font-size: .8rem;
}

.post-title-main {
    margin: .2rem;
    text-align: center;
    color: #abc0ca !important;
}

.post-content {
    font-size: 19px;
    text-align: justify;
}

.post-content img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.post-content p {
    margin: 0 0 20px;
}

.post-meta {
    color: skyblue !important;
}