.post-list {
    text-align: center;
}

.post-box {
    padding-top: 2em;
    padding-bottom: 2em;
}

.post-box img {
    height: auto;
    width: auto;
    max-height: 150px;
}

.post-title {
    font-size: 1.2rem !important;
    color: #abc0ca !important;
}

.post-image {
    text-decoration: none;
}

.post-excerpt {
    color: white !important;
    padding-top: 0.5em;
    padding-bottom: 0.3em;
    text-align: justify;
}

.posted {
    text-align: center;
}

.post-title-main {
    text-align: center;
    color: #abc0ca !important;
}

.post-content {
    font-size: 19px;
    text-align: justify;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.post-content img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.post-content p {
    margin: 0 0 20px;
}

.post-meta {
    color: skyblue !important;
}