// Our variables
$base-font-family: Consolas, monaco, monospace;
$base-font-size: 19px;

$small-font-size: 0.875rem;
$base-line-height: 1.5;

$brand-color: #093750;
$text-color:  #abc0ca;
$a-color:  #03a4fb;

$brand-color-dark1: darken($brand-color, 3%);
$brand-color-dark2: darken($brand-color, 5%);

$background-color: $brand-color-dark2;