<br>
<div id="disqus_thread">
    <script>
        var disqus_config = function () {
            this.page.identifier = "{{ printf `%s-%s` (.Page.Date.Format `2006-01-02`) .Page.Slug }}";
        };

        function disqus_loader() {
            var d = document,
                s = d.createElement('script');

            s.src = '//gllera.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        };
    </script>
    <button class="btn btn-info disqus-btn" onclick="disqus_loader()">
        <span>Habilitar comentarios</span>
    </button>
</div>

<noscript>
    Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
</noscript>