{{ template "_internal/google_analytics.html" . }}

<nav class="navbar navbar-default navbar-static-bottom-fix">
  <div class="container footer-content">
    <row>
      <div class="col-xs-6 text-sm-left footer-text">
        Por Gabriel Llera
      </div>
      <div class="col-xs-6 text-sm-right footer-text">
        Copyright <img src="https://licensebuttons.net/l/by/4.0/80x15.png" alt="Creative Commons">
      </div>
    </row>
  </div>
</nav>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>

</html>
