
<header><a class="button ripple highlight">reservar</a></header>
<main>
  <section class="s-landing">
    <div class="fixed">
      <h1 class="large">Parallax Background</h1>
      <p>No JavaScript, Start scrolling</p>
    </div>
  </section>
  <section>
    <div class="fixed">
      <h1>The Day My Mother Forgot to Cry</h1>
      <p>
        I shudder to recall that dreadful Diwali night of October 2007, when my mother knocked our bed room at the dead of
        the night enquiring where the toilet was. She looked disoriented and totally confused. Unable to understand the
        cause for her abnormal behaviour, we thought she was still in a semi-sleep state and showed her the toilet. But
        even after coming out of toilet she was unable to find her way to her bed room.
      </p>
    </div>
  </section>
  <section class="s-form">
    <form class="z-2">
      <h2>Hoshi</h2><span class="input input--hoshi">
        <input class="input__field input__field--hoshi" id="input-4" type="text"/>
        <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4"><span class="input__label-content input__label-content--hoshi">Name</span></label></span><span class="input input--hoshi">
        <input class="input__field input__field--hoshi" id="input-5" type="text"/>
        <label class="input__label input__label--hoshi input__label--hoshi-color-2" for="input-5"><span class="input__label-content input__label-content--hoshi">Street</span></label></span><span class="input input--hoshi">
        <input class="input__field input__field--hoshi" id="input-6" type="text"/>
        <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-6"><span class="input__label-content input__label-content--hoshi">Town</span></label></span>
    </form>
  </section>
  <section>
    <div class="fixed">Hola</div>
  </section>
</main>