
<header><a class="button red">reservar</a>
  <button class="bg--blue tx--white" ripple="ripple">Info</button>
</header>
<main>
  <section>
    <div class="fixed">
      <h1 class="large">Parallax Background</h1>
      <p>No JavaScript, Start scrolling</p>
    </div>
  </section>
  <section>
    <div class="fixed">
      <h1>The Day My Mother Forgot to Cry</h1>
      <p>
        I shudder to recall that dreadful Diwali night of October 2007, when my mother knocked our bed room at the dead of
        the night enquiring where the toilet was. She looked disoriented and totally confused. Unable to understand the
        cause for her abnormal behaviour, we thought she was still in a semi-sleep state and showed her the toilet. But
        even after coming out of toilet she was unable to find her way to her bed room.
      </p>
    </div>
  </section>
  <section>
    <div class="p fixed">
      Sensing that something is seriously amiss, we took her next day to the nearby nursing home for diagnosis and treatment.
      She was immediately referred to a neurosurgeon and after a MRI scan it was confirmed that she suffered a brain stroke.
      The report showed certain grey patches which the doctor referred to as clots have affected her memory totally. The
      doctor informed that the memory loss is irreversible due to her old age. He, however, assured that further, damage
      to the brain can be arrested with drugs.
    </div>
  </section>
  <section>
    <p class="fixed white">Thanks for watching</p>
  </section>
</main>